/* -----CHARTE GRAPHIQUE----- 
NOIR : rgb(13, 13, 13)
BLEU FONCÉ rgb(0, 51, 102)
BLEU CLAIR :rgb(102, 179, 255)
GRIS/BLANC : rgb(230, 230, 230)

POLICE TITRE: font-family: 'heavitas';
POLICE PARAGRAPHE : 'geoslab'


*/

@font-face {
    font-family: 'heavitas';
    src: url('assets/fonts/Heavitas.ttf') format('truetype');
        font-weight: normal;
        font-style: normal; 
}
@font-face {
    font-family: 'geoslab';
    src : url('assets/fonts/GeoSlab\ _regular.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
}

body {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'geoslab', sans-serif;
    background: rgb(230, 230, 230);
}
span{
    font-family: sans-serif; /*Problème avec le POINT de cette caligraphie et flemme pour le moment d'en changer...*/
}
header {
    position: fixed;
    z-index: 2;
    display: flex;
    width: 100%;
    height: max-content;
    background: white;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
}

header img {
    width : 60px;
    margin: 1em 0px 0px 1em;
}

#logo-header_box p { /* Touche le SLOGAN sous le logo */
    margin: 0px 0px 0px 5px;
    font-size: 1.4ex;
}

#logo-header_box + h1 { /* Touche "Recyc'long !" */
    
    height: max-content;
    padding: 1ex;
    border-radius: 10px;
    font-family: 'heavitas';
    color: rgb(0, 51, 102);
    
}
nav{
    align-self: flex-end;
    margin-left: 5em;
}
#nav-ul_box{
    font-family: 'heavitas';
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
}
#nav-ul_box a {
    text-decoration: none;
    color: rgb(13, 13, 13);
    padding-bottom: 1ex;
}
#nav-ul_box a:hover{
    color: rgb(102, 179, 255);
    animation-name: nav_transition;
    animation-duration: 0.4s;
    animation-timing-function: linear;
}
/* Animation navigation */
@keyframes nav_transition {
    from{color:rgb(13, 13, 13);}
    to{color:rgb(102, 179, 255);}
    
}
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: rgb(102, 179, 255);
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

section {
    width: 100%;
    position: relative;
    margin-top: 10%;
}
#article-presentation_box{
    background: rgb(230, 230, 230);
    padding-bottom: 2em;
}
.presentation_item{
    display: flex;
    justify-content: center;
}
.presentation_item img {
    width: 30%;
    clip-path:ellipse(33% 50%);
}
.presentation_item h2{
    font-size: 4ex;
}
.presentation_item p {
    text-align: justify;
}
.presentation_txt{
    width: 20%;
}

#article-agir_box{
    background: rgb(102, 179, 255);
    display: flex;
    justify-content: center;
}
#article-agir_box img{
    width: 8em;
    height: 8em;
    margin-right: 7em;
    margin-top: 2em;
}
.agir_txt{
    width: 30%;
    text-align: justify;
}
footer {
    width: 100%;
    color: white; 
    margin-top: 1em;
}
#footer_box {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(13, 13, 13);
}

footer h3 {
    width: max-content;
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    padding: 3px 0px;

    font-family: 'heavitas';
}

.logo-reseaux {
    width: max-content;
    border: 4px solid white;
    border-radius: 50px;
    padding: 10px;
    color: white;
}
.logo-reseaux:hover{
    animation-name: logo_transition-hvr;
    animation-duration: 0.5s;
    background-color: rgb(255, 255, 255);
    color: rgb(13, 13, 13);
}
@keyframes logo_transition-hvr {
    from {background-color: transparent; color:rgb(255, 255, 255)}
    to{background-color: rgb(255, 255, 255); color: rgb(13, 13, 13);}
}

#footer_legend{
    display: flex;
    justify-content: center;

    background-color: black;
}

#footer_legend p {
    margin: 0%;
    padding: 1ex;

    font-size: 1.5ex;
}
#footer_legend a{
        text-decoration: none;
        color: white;
}

/* --------------------------- SECTION PAGE LOGIN --------------------------- */
.txt-smaller{
    font-size: 1.2ex;
}
.formulaire_item img{
    width: 80px;
    display: block;
    margin: auto;
}
form {
    margin-top: 2em;
}
#section-formulaire_box{
    background: white;
    border-radius: 10px;
    width: 50%;
}
#section-formulaire_box,
.formulaire_item,
.formulaire_item h3,
.formulaire_input{
    width: max-content;
    margin: auto;
}
.formulaire_item,
.login-btn{
    padding: 0ex 2ex;
    margin-bottom: 1em;
}

td {
    margin-left: 2ex;
}
table[name=informations]{
    text-align: center;
}
table[name=preferences]{
    text-align: center;
}

input[type=text],
input[type=email],
select{
    padding: 1.5ex;
    border-radius: 5px;
    margin-bottom: 1em;
    outline: none;
    color: #74646e;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #999;
}
select {
    width: 6em;
    appearance: none;
    background: url("assets/images/arrow_down.png") 90% / 20% no-repeat white;
    color: #74646e;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #999;
    border-radius: 5px;
}
select:focus {
    background: url("assets/images/arrow_up.png") 90% / 20% no-repeat rgb(230, 230, 230);
}
input[type=text]:focus,
input[type=email]:focus {
    background: rgb(230, 230, 230);
}
.preference-label_box{
    padding-left: 100px;
    margin-left: 8em;
}
.preference-label_box,
.condition-label_box {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
  }
  
.preference-label_box input,
.condition-label_box input {
    opacity: 0;
    cursor: pointer;
  }
.radio-checkmark{
    border-radius: 50%;
    margin-left: 4em;
  }
  .checkmark{
    border-radius: 3px;
  }
.radio-checkmark,
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgb(230, 230, 230);
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #999;
  }
.preference-label_box:hover input ~ .radio-checkmark,
.condition-label_box:hover input ~ .checkmark{
    background-color: #ccc;
  }
.preference-label_box input:checked ~ .radio-checkmark,
.condition-label_box input:checked ~ .checkmark {
    background-color: rgb(0, 51, 102);
  }
.condition-label_box {
    padding-left: 35px;
  }

.formulaire_item a{
    color: rgb(0, 51, 102);
}
#flexbox_cont{
    display: flex;
    justify-content: space-evenly;
}
.signup-btn {
    background-image: linear-gradient(144deg, rgb(0, 51, 102), #5B42F3 50%, #ab9ff9);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    box-shadow: 2px 2px 3px #999;
    width: 140px;
    padding: 10px 15px;
    font-family: 'geoslab';
    text-decoration: none;
    cursor: pointer;
  }
  .signup-btn:hover{
    background-image: linear-gradient(144deg, rgb(1, 39, 77), #3b2c9d 50%, #6a6494);
    
  }

  
